<h1 align="center" class="display-4 mb-5 text-dark">{{title}}</h1>
<div class="row text-center justify-content-center">
  <div class="col-lg-6 ">
    <div class="card mb-4 bg-dark">
      <img height="60%" class="card-img-top" src="{{itemInfo?.itemIcon}}" alt="{{itemInfo?.itemName}}">
      <div class="card-body">
        <h4 class="card-title ">{{itemInfo?.itemName}}</h4>
        <form name="form" #form='ngForm' (ngSubmit)="itemInfo?.itemStatus == 0 && addToCart()">
          <div class="text-left">
            <input hidden name="itemId" [value]=itemInfo?.itemId>
            <p class="card-test"><strong>Description: </strong>{{itemInfo?.itemDescription}}</p>
            <p class="card-text">
              <strong>Price: </strong>
              <label id="price">{{itemInfo?.itemPrice | currency}}</label>
            </p>
            <p class="card-text"><strong>Stock: </strong>{{itemInfo?.itemStock}}</p>

            <label class="card-text">
              <strong>Quantity: </strong>
              <input [(ngModel)]=count
                     (change)="validateCount()"
                     type="number"
                     name="count"
                     required
                     min="1"
                     [max]=itemInfo?.itemStock
              >
            </label>


            <p class="card-text"><strong>Subtotal: </strong>
              <label id="subtotal">{{count * itemInfo?.itemPrice | currency}}</label>
            </p>
          </div>
          <button type="submit" [disabled]="!form.form.valid" *ngIf="itemInfo?.itemStatus == 0; else offBlock"
                  class="btn btn-danger btn-lg"
          >Add to Cart
          </button>
          <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
        </form>

      </div>
    </div>
  </div>
</div>
