<h1 align="center" class="display-4 my-5 text-dark">{{title}}</h1>
<div class="row card-deck text-center">
  <div *ngFor="let itemInfo of page?.content" class="col-lg-4 ">
    <div class="card mb-4 rounded">
      <img height="50%" class="card-img-top" src="{{itemInfo.itemIcon}}" alt="{{itemInfo.itemName}}">
      <div class="card-body">
        <h4 class="card-title text-dark">{{itemInfo.itemName}}</h4>
        <div class="text-left">
          <p class="card-test"><strong>Description: </strong>{{itemInfo.itemDescription}}</p>
          <p class="card-text"><strong>Price: </strong>{{itemInfo.itemPrice | currency}}</p>
          <p class="card-text"><strong>Stock: </strong>{{itemInfo.itemStock}}</p>
        </div>
        <br>
        <a routerLink="/item/{{itemInfo.itemId}}" *ngIf="itemInfo.itemStatus == 0; else offBlock"
           class="btn btn-danger btn-lg"
        >Get It!</a>
        <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
      </div>
    </div>
  </div>
</div>
<app-pagination  [currentPage]="page" ></app-pagination>
