<!--The content below is only a placeholder and can be replaced.-->
<div>
<app-navigation></app-navigation>
<router-outlet></router-outlet>
    <div class="container-fluid">
        <br>
        <br>
        <hr style="color: azure">
        <div class="text-center text-dark" id="creds">
          <p> Follow on: </p>
            <a style="color: inherit" href="https://github.com/RudeZwloki7">
              <img src="assets/github_logo.png" alt="GitHub">
            </a>
        </div>

    </div>
</div>
